<% if ( data.auth === false ) { %>
<div class="row">
	<div class="columns medium-8 large-6 medium-centered">
		<h1><%==data.translate.forgotPassword%></h1>
		<form method="post">
			<p><%==data.translate.forgotPasswordText%></p>
			<div class="row collapse">
				<div class="columns medium-8">
					<label>
						<input name="user[email]" type="text" placeholder="<%==data.translate.userEmail%>" data-validate="required" data-validate-type="email" />
					</label>
				</div>
				<div class="columns medium-4">
					<button name="submit" class="radius button expand">
					<%==data.translate.forgotPassword%>
					</button>
				</div>
			</div>
			<div data-alert class="callout alert" id="forgotFailed" style="display:none;">
				<%==data.translate.forgotPasswordText2%> <%==data.translate.tryAgain%>
			</div>
			<div id="loadingHolder"></div>
		</form>
		<div id="forgotSuccess" class="hide">
			<h1 name="success"><%==data.translate.forgotPasswordSuccess%></h1>
			<p><%==data.translate.forgotPasswordSuccessText%></p>
		</div>
	</div>
</div>	
<% } %>