<% if ( data.auth === false ) { %>
<div class="row">
	<div class="medium-8 large-6 medium-centered columns">
		<% if ( data.valid == 1 ) { %>
		<h1><%==data.trans.resetPassword%></h1>
		<form method="post">
			<p>V Spodnje polje vpišite svoje novo geslo.</p>
			<div class="row">
				<div class="columns">
					Naročnik: <b><%==data.name%></b> (<%==data.email%>)
					<input name="hash" value="<%==data.hash%>" type="hidden">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="columns">
					<label>
						<input name="password" type="password" placeholder="Geslo (minimalno 7 znakov)" data-validate="required" data-validate-type="password" data-validate-encrypt="md5" />	
					</label>
				</div>
			</div>
			<div class="row">
				<div class="columns">
					<label>
						<input name="password_retype" type="password" placeholder="Pretipkaj geslo" data-validate="required" data-validate-type="password_retype" data-validate-encrypt="md5" data-validate-bind="password" />		
					</label>
				</div>
			</div>
			<div data-alert class="callout alert" id="resetFailed" style="display:none;">
				Zahtevek za zamenjavo gesla ni veljaven. Poskusite ponovno. <br />
				<a href="<%==data.actions.forgot.link%>">Pozabljeno geslo</a>.
			</div>
			<div id="loadingHolder"></div>
			<div class="row">
				<div class="columns">
					<button type="submit" class="radius button expand">
						Nastavi novo geslo
					</button>
				</div>
			</div>

		</form>
		<div id="resetSuccess" style="display:none;">
			<h1>Geslo uspešno ponastavljeno!</h1>
			<p>Nadaljujte na prijavo in stopite v svoj naročniški profil.</p>
			<div class="columns">
				<a class="button radius expand" href="<%==data.actions.login.link%>"><span class="icon-home"></span> Prijava na stran</a>
			</div>
		</div>
		<% } else { %>
		<h1>Zahtevek za spremembo ni veljaven!</h1>
		<p>Zahtevek za spremembo ne obstaja ali je potekel. Ponovno sprožite zahtevek za spremenitev gesla.</p>
		<% } %>
	</div>
</div>	
<% } %>